<<<<<<< HEAD
/* folha de estilos */
.h1_1 {
    background-color: crimson;
}

.h1_2 {
    background-color: teal;
=======
/* folha de estilos */
.h1_1 {
    background-color: crimson;
}

.h1_2 {
    background-color: teal;
>>>>>>> 9e85d545dd8eab1f4b9e6c190c3b6c7bd99368a4
}